body {
    padding-top:60px;
}

.hidden{
    display:none;
}

.prod-details {
    margin-top:20px;
    float:left;
    width:30%;
    height:200px;
}

.prod-details ul {
    height:100%;
    margin-top:20px;
    font-size:1.3em;
    list-style:none;
}

.prod-details li {
    line-height:25px;
}

.large-graph {
    float:left;
    margin-bottom:30px;
    width:65%;
    height:200px;
}
.larger-graph {
    margin-left:40px;
    margin-bottom:30px;
    width:85%;
    height:200px;
}

table td {
    vertical-align:bottom;
}

.shadow {
    -moz-box-shadow: 20px 20px 20px #ccc;
    -webkit-box-shadow: 20px 20px 20px #ccc;
    box-shadow: 20px 20px 20px #ccc;
}

.round {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.left{
    float:left;
}

.pie-legend{
    float:left;
    margin-left:5px;
    width:65px;
    margin-top:30px;
}

hr{
    color: #CCC;
    background-color: #CCC;
    height: 2px
}

.pies{
    margin-left:40px;
}

.large-img{
    width:130px;
}

.home-nav-button{
    height:170px;
    border-style:solid;
    margin:none;
    margin-top:20px;
    width:230px;
}
.home-nav-button h3{
    text-align:center;
}
.home-nav-button img{
    margin-left:50px;;
}

.row a {
    width:230px;
}