<table id="sales">
    <thead>
    <tr>
        <th>
            Product
        </th>
        <th>
            Customer
        </th>
        <th>
            Warehouse
        </th>
        <th>
            Transaction
        </th>
        <th>
            Shipment #
        </th>
        <th>
            Sale Price
        </th>
        <th>
            Cost Price
        </th>
        <th>
            Tax Amount
        </th>
        <th>
            Tax Percent
        </th>
        <th>
            Free Shipping?
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="product-details" class="hidden">
</div>
<div id="customer-details" class="hidden">
</div>
<div id="warehouse-details" class="hidden">
</div>
<div id="shipment-details" class="hidden">
</div>
<div id="transaction-details" class="hidden">
</div>
<script type="text/javascript">
    var lastFact = <%= @facts.last.id %>;
    $(function(){
        function BindPopovers(){
            $('.product-summary').popover({
                    trigger:'hover', 
                    content: function(){
                        $.ajax({
                             async: false,
                             type: 'GET',
                             url: '/product/summary/' + $(this).attr("val"),
                             success: function(data) {
                                   $("#product-details").html(data);
                             }
                        });
                        return $("#product-details").html();
                    }, 
                    animation: true,
                    html: true,
                    placement: "right",
                    delayIn: 500,
                    delayOut: 500,
            });
            $('.customer-summary').popover({
                    trigger:'hover', 
                    content: function(){
                        $.ajax({
                             async: false,
                             type: 'GET',
                             url: '/customer/' + $(this).attr("val"),
                             success: function(data) {
                                   $("#customer-details").html(data);
                             }
                        });
                        return $("#customer-details").html();
                    }, 
                    animation: true,
                    html: true,
                    placement: "right",
                    delayOut: 500,
            });
            $('.warehouse-summary').popover({
                    trigger:'hover', 
                    content: function(){
                        $.ajax({
                             async: false,
                             type: 'GET',
                             url: '/warehouse/' + $(this).attr("val"),
                             success: function(data) {
                                   $("#warehouse-details").html(data);
                             }
                        });
                        return $("#warehouse-details").html();
                    }, 
                    animation: true,
                    html: true,
                    placement: "right",
                    delayOut: 500,
            });
            $('.shipment-summary').popover({
                    trigger:'hover', 
                    content: function(){
                        $.ajax({
                             async: false,
                             type: 'GET',
                             url: '/shipment/' + $(this).attr("val"),
                             success: function(data) {
                                   $("#shipment-details").html(data);
                             }
                        });
                        return $("#shipment-details").html();
                    }, 
                    animation: true,
                    html: true,
                    placement: "right",
                    delayOut: 500,
            });
            $('.transaction-summary').popover({
                    trigger:'hover', 
                    content: function(){
                        $.ajax({
                             async: false,
                             type: 'GET',
                             url: '/transaction/' + $(this).attr("val"),
                             success: function(data) {
                                   $("#transaction-details").html(data);
                             }
                        });
                        return $("#transaction-details").html();
                    }, 
                    animation: true,
                    html: true,
                    placement: "right",
                    delayOut: 500,
            });
        }
        $(window).scroll(function() {
           if($(window).scrollTop() + $(window).height() > $(document).height() - 300) {
               LoadMoreRecords();
           }
        });
        function LoadMoreRecords (){
     
            $.ajax({
                 async: false,
                 type: 'GET',
                 url: '/sales/' + lastFact,
                 success: function(data) {
                     $("#sales  > tbody:last").append(data);
                 }
            });
            lastFact = $("tr:last").attr("val");
            BindPopovers();
            $("#sales").tablesorter();
        }
        BindPopovers();
        LoadMoreRecords();
        $("#sales").tablesorter();
    });
</script>